
*{
    margin: 0;
    padding: 0;
}
.headerSmall{
    width: 100%;
    height: 26px;
    background-color: rgba(216, 216, 216, 0.916);
    display: flex;
    justify-content: space-between;
}
.topnav{
    display: flex;
    margin-left: 70px;
   
}
.topnav li a{
    text-decoration: none;
color: #016600;
    font-size: 11px;
    margin: 20px;
    text-transform: uppercase;
   
}
.topnav li a:hover{
    text-decoration: underline;
    color: rgb(4, 75, 23);
}
.topnav li {
    list-style: none;
}
.topnav li::after {
    content: "|"; /* Nội dung bạn muốn thêm, trong trường hợp này là dấu chấm "|" */
    margin-left: 2px;
    margin-right: 2px; 
    color: green; 
}
.topnav .contentNone::after {
    content: none;

}
.login {
    display: flex;
    margin-left: auto;
    margin-right: 20px;
    align-items: center;
}
.login li a{
    color: #016600;
text-decoration: none;
font-size: 11px;
text-transform: uppercase;
}
.login li a:hover{
    color: #0b460a;
    text-decoration: underline;

}
.login li {
list-style: none;
}
.login li::after {
content: "|";
margin: 0 10px;
}
.login .dangky::after {
content: none;

}
.headerTall{
    width: 100%;
    height: 147px;
    background-color: rgba(216, 216, 216, 0.441) ;
    display: flex;
    align-items: end;
    position:relative;


}
.imageok{
    width: 514px;
    height: 100px;
    margin-left: 138px;
    margin-bottom: 12px;
}
.search{
    width: 320px;
    height: 25px;
    margin-bottom: 12px;
  margin-left: 190px;
  outline: 0px;

}
.search-icon {
    left: 10px; 
    color: #666; 
    outline: 0px;
}
.search:hover{
    outline: 2px solid;
    outline-offset: -5px;

}
.cart{
    width: 55px;
    height: 55px;
}
.cartok{
    position:absolute;
    margin-bottom: 60px;
 margin-left:  1100px;
}
.navSelect{
    width: 100%;
    height: 38px;
    background-color: green;
}
.listnav{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.listnav li{
    list-style: none;

}
.listnav li a{
    color: aliceblue;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    padding: 8px 30px;

}
.listnav li a:hover {
  background-color: #0a530a;
  display: block;
}
.listnav li a:hover + .dropss {

  display: block;

}

.dropss{

    width: 195px;
    height: auto;
    background-color:#0a530a ;
    margin-left: 197px;
    display: none;
}


.dropss ul li{

    list-style: none;
    margin: 15px 0;
}

.dropss ul li a{

 text-decoration: none;
 color: aliceblue;



 /* css content */
}
.slider{
    background-color: #0c4fb3;
    margin: 0;
}
  
.container{
    position: relative;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* text-align: center; */
}

.image{
    text-align: center;
}

#prev{  
    position: relative;
    float: left;
    left: 42%;
    cursor: pointer;
    padding: 1em;
    margin-top: 0.1em;
    color: whitesmoke;
    font-weight: bold;
    font-size: 0.4em;
    transition: 0.1s ease;
    border-radius: 10%;
    user-select: none;
  }
  
#next{
    position: relative;
    float: right;
    right: 42%;
    cursor: pointer;
    padding: 1em;
    margin-top: 0.1em;
    color: whitesmoke;
    font-weight: bold;
    font-size: 0.4em;
    transition: 0.1s ease;
    border-radius: 10%;
    user-select: none;
}

#prev:hover, #next:hover {
background: gray;
} 

.dots{
    text-align: center;
    width: 100%;
    background-color: black;
}
  
.dot{
    display: inline-block;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    transition: background-color 0.5s ease;
}

.active{
    background-color: blue;
} 

.fade{
    animation-name: fade;
    animation-duration: 0.5s;
}

.text{
    color: wheat;
    text-align: center;
    margin-top: 5%;
    font-size: larger;
    font-weight: bolder;
    font-family: "Tahoma";
}

@keyframes fade {
      from {opacity: .4}
      to {opacity: 1}
} 
  
.row{
    background-color: #bbb;
    width: 80vw;
    margin-left: 5%;
    margin-top: 5%;
}

.row-1{
    /* background-color: #bbb; */
    width: 80vw;
    margin-left: 5%;
    margin-top: 5%;
    font-size: large;
}

tr>td>.more{
    position: relative;
}

tr, td{
    border: 2px solid black;
    /* height: 300px; */
}
.ads{
    background-color: gray;
    height: 100%;
    width: 100%;
}

.distance{
    height: 10px;
    background-color: #fff;
}

.ads-img-1{
    text-align: center;
    margin-bottom: 5%;
    padding-top: 5%;
}

.ads-img-2{
    margin-top: 5%;
    text-align: center;
}

.icon{
    font-size: smaller;
    width: 9%;
}



.title{
    font-size: large;
    font-weight: bold;
    color: yellowgreen;
    background-color: #0c4fb3;
    width: 80vw;
    text-align: center;
}

ul, li{
    list-style: none;
}
.nav-item{
    position: relative;
    color: wheat;
    font-size: small;
}


.product{
    float: left;
    margin-right: 10%;
    padding: 5%;
    align-items: center;
}

.table{
    width: 100%;
    height: 400px;
    border: 1px solid black;
    background-color: gray;
}

.book-cover img{
    width: 65%;
    height: 50%;
}

.book-name{
    font-size: large;
    font-weight: bolder;
    color: whitesmoke;
    text-align: center;
}

.book-price{
    font-size: x-large;
    color: greenyellow;
    font-weight: bold;
    margin-right: 5%;
    margin: 12%;
}

.discount{
    background-color: red;
    color: white;
    font-size: x-large;
    font-weight: bold;
    font-style: italic;
    padding: 0.1em;
}

.old-price{
    margin-left: 12%;
    font-size: large;
}

.more{
    background-color: white;
    color: blue;
    border-radius: 20px;
    border-color: red;
    width: 15%;
    font-weight: bolder;
    align-items: center;
}

.more:hover{
    background-color: green;
    color: white;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* footer */

.footer-menu{
    overflow: hidden;
    height: 200px;
    width: 100%;
    display: flex;
    background: url(image/headerbg.png) repeat-x scroll 50% 0 rgba(0,0,0,0);
}


.footer-menu .footer-menu_col{
    width: 1000px;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    margin-left: 252px;
}


.footer-menu .footer-menu_col .coll{
    float: left;
    margin-right: 40px;
    margin-top: 20px;
    width: 280px;
}



.footer-menu .footer-menu_col .coll ul li{
    font-size: 16px;
    list-style-type: none;
    border-bottom: 1px solid #c2c2c2;
    padding: 10px 0px 10px 30px;
    background: url(image/arricon.png) no-repeat scroll 0 center rgba(0,0,0,0);
}

.footer-menu .footer-menu_col .coll li a{
    color: #0F5731;
    text-decoration: none;
}

.footer-menu .footer-menu_col .coll li a:hover{
    color: #0F5731;
    text-decoration: underline;
}

.footer-menu .footer-menu_col .fa-brands{
    font-size: 40px;
    margin-left: 333px;
    margin-top: 50px;
}

.footer-copyright{
    font-size: 14px;
    background-color: #0F5731;
    height: 200x;
    color: #fff;
}

.footer-copyright .footer-copyright_firstline{
    display: flex;
    justify-content: center;
    text-align: center;
}

.footer-copyright .footer-copyright_firstline a{
    color: #fff;
    text-decoration: none;
}

.footer-copyright .footer-copyright_secondline{
    color: #fff;
    justify-content: center;
    text-align: center;
}

.footer-copyright .footer-copyright_thirdline{
    color: #fff;
    justify-content: center;
    text-align: center;
}




