*{
    margin: 0;
    padding: 0;
}
.headerSmall{
    width: 100%;
    height: 26px;
    background-color: rgba(216, 216, 216, 0.916);
    display: flex;
    justify-content: space-between;
}
.topnav{
    display: flex;
    margin-left: 70px;
   
}
.topnav li a{
    text-decoration: none;
color: #016600;
    font-size: 11px;
    margin: 20px;
    text-transform: uppercase;
   
}
.topnav li a:hover{
    text-decoration: underline;
    color: rgb(4, 75, 23);
}
.topnav li {
    list-style: none;
}
.topnav li::after {
    content: "|"; /* Nội dung bạn muốn thêm, trong trường hợp này là dấu chấm "|" */
    margin-left: 2px;
    margin-right: 2px; 
    color: green; 
}
.topnav .contentNone::after {
    content: none;

}
.login {
    display: flex;
    margin-left: auto;
    margin-right: 20px;
    align-items: center;
}
.login li a{
    color: #016600;
text-decoration: none;
font-size: 11px;
text-transform: uppercase;
}
.login li a:hover{
    color: #0b460a;
    text-decoration: underline;

}
.login li {
list-style: none;
}
.login li::after {
content: "|";
margin: 0 10px;
}
.login .dangky::after {
content: none;

}
.headerTall{
    width: 100%;
    height: 147px;
    background-color: rgba(216, 216, 216, 0.441);
    display: flex;
    align-items: end;
    position:relative;


}
.imageok{
    width: 514px;
    height: 100px;
    margin-left: 138px;
    margin-bottom: 12px;
}
.search{
    width: 320px;
    height: 25px;
    margin-bottom: 12px;
  margin-left: 190px;
  outline: 0px;

}
.search-icon {
    left: 10px; 
    color: #666; 
    outline: 0px;
}
.search:hover{
    outline: 2px solid;
    outline-offset: -5px;

}
.cart{
    width: 55px;
    height: 55px;
}
.cartok{
    position:absolute;
    margin-bottom: 60px;
 margin-left:  1100px;
}
.navSelect{
    width: 100%;
    height: 38px;
    background-color: green;
}
.listnav{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.listnav li{
    list-style: none;

}
.listnav li a{
    color: aliceblue;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    padding: 11px 30px;

}
.listnav li a:hover {
  background-color: #0a530a;
  display: block;

}
.listnav li a:hover + .dropss {

  display: block;

}

.dropss{

    width: 195px;
    height: auto;
    background-color:#0a530a ;
    margin-left: 197px;
    display: none;
}


.dropss ul li{

    list-style: none;
    margin: 15px 0;
}

.dropss ul li a{

 text-decoration: none;
 color: aliceblue;

}




